body {
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    font-family: 'Roboto Flex', 'Arial', sans-serif;
    letter-spacing: 0.3px;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    /* Убирает подчеркивание */
    outline: none;

    display: inline-block;
    /* Для корректного отображения кнопок */
}

.conteiner {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    /* Центрирует контент */
}

/* Дополнительно: стили для кнопок внутри ссылок */
.buttons button {
    border: none;
    cursor: pointer;
}

.header {
    display: flex;
    align-items: flex-end;
    gap: 6px;
    height: 29px;
    margin-top: 16px;
}

.logo {
    font-size: 26px;
    font-weight: 700;
    color: #000;
    height: 29px;
}

.logo1 {
    width: 79px;
    height: 22px;
}

.mosque {
    width: 100%;
    min-height: 240px;
    margin: 0 auto;
    margin-top: 24px;
}

.mosque_text {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    margin-top: 24px;
    margin-bottom: 224px;
    text-align: left;
}

.mosque_img {
    width: 100%;
}

.title {
    width: 100%;
    font-size: 32px;
    font-weight: 700;
}

.title_text {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
}

.buttons {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin: 0 auto;
    background-color: #fff;
}

.button_help {
    color: #fff;
    background-color: #299E46;
    max-width: 361px;
    width: 100%;
    margin: 0 auto;
    margin-top: 8px;
}

.button_details {
    background-color: #fff;
    color: #299E46;
    margin-bottom: 16px;
    max-width: 361px;
    width: 100%;
    margin: 0 auto;
}

.button_share {
    background-color: #fff;
    color: #299E46;
    margin-bottom: 16px;
    font-weight: 500;
}

.buttons a,
.buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.3s ease;
}

/* Состояния при наведении */
.button_help:hover {
    background-color: #238a3d;
}

.button_details:hover {
    text-decoration: underline;
}

/* Активное состояние */
.button_help:active {
    background-color: #1d7734;
}